{% extends "base/base.html" %}
{% block contents %}
      <!-- timeline section-->
      <section>
        {% for post in post_list %}
        <div class="row p-4 text-lefti">
          <div class ="col-4 offset-4">
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="/users/{{ post.author.username }}" class="text-dark"><img src="{{ post.author.picture }}" class="img-32 mr-3">{{ post.author.username }}</a></li>
              </ul>
              <img class="card-img" src="{{ post.picture }}">
              <div class="card-body">
                <div><a href="#" class="pr-2 text-dark">いいね！</a><a href="#" class="text-dark">コメント</a></div>
                <div class="pb-2"><span class="mr-2">いいね！</span>{{ post.like }}件</div>
                <div><span class="mr-2">@{{ post.author.username }}</span>{{ post.text }}</div>
                {% for comment in post.comment %}
                <div><span class="mr-2">{{ comment.username }}</span>{{ comment.comment }}</div>
                {% endfor %}
                <div class="pt-2"><small><abbr class="timeago text-secondary" title="{{ post.time|date:'Y-m-d H:i:s' }}">更新時間</abbr></small></div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </section>
      <!-- /timeline section-->

{% endblock contents %}
