{% extends "base/base.html" %}
{% block contents %}
      <!-- profile section-->
      <section>
        <div class="container">
          <div class="row p-5">
            <div class="col-4 text-center">
              <img src="{{ picture }}" class="img-200">
              <div class="pt-2">
                <a href="/users/picture" class="btn btn-outline-secondary">プロフィール画像変更</a>
              </div>
            </div>
            <div class="col-8">
              <div class="row text-left">
                <div class="col-12">
                  <h1>{{ username }}</h1>
                </div>
              </div>
              <div class="row text-left">
                <div class="col-3">
                  フォロー数:15
                </div>
                <div class="col-9">
                  フォロワー数:20
                </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /profile section-->

      <hr>
 
     <!-- picture list section--> 
      <section>
        <div class="container">
          <div class="row text-center p-5">
            {% for post in post_list %}
            <div class="col-4">
              <img src="{{ post.picture }}" class="img-200 mb-5">
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
     <!-- /picture list section-->
{% endblock contents %}
