<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ginstagram</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  </head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-light box-shadow fixed-top scrolling-navbar">
        <a class="navbar-brand" hred="#">
          Ginstagram
        </a>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
          <li class="nav-item">
            <a class="nav-link p-2" href="#">投稿</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-2" href="#">ディスカバリー</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-2" href="#">ディスカバリー</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-2" href="#">プロフィール</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-2" href="#">ログアウト</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <!-- profile section-->
      <section style="padding-top: 100px;">
        <div class="container">
          <div class="row p-5">
            <div class="col-4 text-center">
              <img src="https://placehold.jp/200x200.png">
              <div>
                プロフィール画像変更ボタン
              </div>
            </div>
            <div class="col-8">
              <div class="row text-left">
                <div class="col-12">
                  <h1>ユーザーID</h1>
                </div>
              </div>
              <div class="row text-left">
                <div class="col-3">
                  フォロー数:15
                </div>
                <div class="col-9">
                  フォロワー数:20
                </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /profile section-->

      <hr>
 
     <!-- picture list section--> 
      <section>
        <div class="container">
          <div class="row text-center p-5">
            <div class="col-4">
              <img src="https://placehold.jp/200x200.png">
            </div>
            <div class="col-4">
              <img src="https://placehold.jp/200x200.png">
            </div>
            <div class="col-4">
              <img src="https://placehold.jp/200x200.png">
            </div>
          </div>
          <div class="row text-center p-5">
            <div class="col-4">
              <img src="https://placehold.jp/200x200.png">
            </div>
            <div class="col-4">
              <img src="https://placehold.jp/200x200.png">
            </div>
            <div class="col-4">
              <img src="https://placehold.jp/200x200.png">
            </div>
          </div>
          <div class="row text-center p-5">
            <div class="col-4">
              <img src="https://placehold.jp/200x200.png">
            </div>
            <div class="col-4">
              <img src="https://placehold.jp/200x200.png">
            </div>
            <div class="col-4">
              <img src="https://placehold.jp/200x200.png">
            </div>
          </div>
          <div class="row text-center p-5">
            <div class="col-4">
              <img src="https://placehold.jp/200x200.png">
            </div>
            <div class="col-4">
              <img src="https://placehold.jp/200x200.png">
            </div>
            <div class="col-4">
              <img src="https://placehold.jp/200x200.png">
            </div>
          </div>
        </div>
      </section>
     <!-- /picture list section--> 
    </main>
  </body>
</html>
