{% extends "base/base.html" %}
{% block contents %}
      <!-- profile section-->
      <section>
        <div class="container">
          <div class="row p-5">
            <div class="col-4 text-center">
              <img src="{{ picture }}" class="img-200">
              <div class="pt-2">
                <a href="/users/picture" class="btn btn-outline-secondary">プロフィール画像変更</a>
              </div>
            </div>
            <div class="col-8">
              <div class="row text-left">
                <div class="col-6">
                  <h1>{{ username }}</h1>
                </div>
                <div class="col-6">
                  {% if is_follow %}
                  <a class="btn btn-primary" href="/users/remove_follow/{{ userid }}">フォロー中</a>
                  {% elif is_follow == 0%}
                  <a class="btn btn-outline-primary" href="/users/follow/{{ userid }}">フォロー</a>
                  {% endif %}
                </div>
              </div>
              <div class="row text-left">
                <div class="col-3">
                  フォロー数:{{ followee_num }}
                </div>
                <div class="col-9">
                  フォロワー数:{{ follower_num }}
                </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /profile section-->

      <hr>
 
     <!-- picture list section--> 
      <section>
        <div class="container">
          <div class="row text-center p-5">
            {% if post_list %}
              {% for post in post_list %}
            <div class="col-4">
              <img src="{{ post.picture }}" class="img-200 mb-5">
            </div>
              {% endfor %}
            {% else %}
              {% if is_mypage %}
            <div class="col-6 offset-3 text-center">
              <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <p class="lead"><a href="/post">投稿</a>して他のユーザーに見つけてもらおう</p>
                </div>
              </div>
            </div>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </section>
     <!-- /picture list section-->
{% endblock contents %}
