<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ginstagram</title>

    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "/css/validationEngine.jquery.css" %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "/js/jquery.validationEngine.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "/js/jquery.validationEngine-ja.js" %}" charset="utf-8"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-light box-shadow fixed-top scrolling-navbar">
        <a class="navbar-brand" hred="#">
          Ginstagram
        </a>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
          <li class="nav-item">
            <a class="nav-link p-2" href="#">投稿</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-2" href="#">ディスカバリー</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-2" href="#">プロフィール</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-2" href="#">ログアウト</a>
          </li>
        </ul>
      </nav>
      <div class="mb-5">　</div>
    </header>
    <main>
      {% block contents %}{% endblock %}
    </main>
  </body>
</html>
